someone/someone.xcodeproj/project.xcworkspace/xcuserdata/bytedance.xcuserdatad/UserInterfaceState.xcuserstate
someone/someone.xcodeproj/xcuserdata/bytedance.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
someone/someone.xcodeproj/project.xcworkspace/xcuserdata/bytedance.xcuserdatad
imgui

*.xcbkptlist
*.xcuserstate
*.xcuserstate
raytracing/oneweekend/oneweekend.xcodeproj/project.xcworkspace/xcuserdata/bytedance.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
raytracing/oneweekend/oneweekend.xcodeproj/project.xcworkspace/xcuserdata/bytedance.xcuserdatad/UserInterfaceState.xcuserstate
